<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ParkDaeMinProj2</display-name>
  <servlet>
    <servlet-name>DataRoomIndex</servlet-name>
    <servlet-class>controller.dataroom.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomIndex</servlet-name>
    <url-pattern>/DataRoom/Index.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomList</servlet-name>
    <servlet-class>controller.dataroom.ListController</servlet-class>
    <init-param>
      <param-name>PAGE_SIZE</param-name>
      <param-value>10</param-value>
    </init-param>
    <init-param>
      <param-name>BLOCK_PAGE</param-name>
      <param-value>5</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomList</servlet-name>
    <url-pattern>/DataRoom/List.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomWrite</servlet-name>
    <servlet-class>controller.dataroom.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomWrite</servlet-name>
    <url-pattern>/DataRoom/Write.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomView</servlet-name>
    <servlet-class>controller.dataroom.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomView</servlet-name>
    <url-pattern>/DataRoom/View.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomPassword</servlet-name>
    <servlet-class>controller.dataroom.PasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomPassword</servlet-name>
    <url-pattern>/DataRoom/Password.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomEdit</servlet-name>
    <servlet-class>controller.dataroom.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomEdit</servlet-name>
    <url-pattern>/DataRoom/Edit.kosmo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DataRoomDownload</servlet-name>
    <servlet-class>controller.dataroom.DownloadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataRoomDownload</servlet-name>
    <url-pattern>/DataRoom/Download.kosmo</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>